{% extends "tethys_apps/app_base.html" %}

{% load staticfiles %}

{% block title %}- {{ tethys_app.name }}{% endblock %}

{% block app_icon %}
  {# The path you provided in your app.py is accessible through the tethys_app.icon context variable #}
  <img src="{% static tethys_app.icon %}">
{% endblock %}

{# The name you provided in your app.py is accessible through the tethys_app.name context variable #}
{% block app_title %}{{ tethys_app.name }}{% endblock %}


{% block exit_button_override %}
  <div class="my-exit-button">
      <a href="javascript:void(0);" onclick="if(!window.location.href.includes('/subset/')) {$('#welcome-popup').modal('show');}else{$('#welcome-popup-subset').modal('show');}">Help</a>
      <a href="javascript:void(0);" onclick="TETHYS_APP_BASE.exit_app('{% url 'nwm_forecasts:api_page' %}');" >API</a>
      <a href="javascript:void(0);" onclick="TETHYS_APP_BASE.exit_app('{% url 'app_library' %}');">Exit</a>
  </div>
{% endblock %}


{% block app_navigation_items %}

{% endblock %}

{% block app_content %}
{% endblock %}

{% block app_actions %}
{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'nwm_forecasts/vendor/ol3gm/ol3gm.css' %}" type="text/css" />
  <link href="{% static 'nwm_forecasts/css/main.css' %}" rel="stylesheet"/>
  <link href="{% static 'nwm_forecasts/vendor/openlayers3.20.1/ol.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDPgvDUpbEwcbg9C0cRTfDtDa-Vj4WBwI0"></script>-->
  <!--<script type="text/javascript" src="{% static 'nwm_forecasts/vendor/ol3gm/ol3gm.js' %}"></script>-->
  <script src="{% static 'nwm_forecasts/js/main.js' %}" type="text/javascript"></script>
  <script src="{% static 'nwm_forecasts/js/hydroshare.js' %}" type="text/javascript"></script>
  <script src="{% static 'nwm_forecasts/vendor/projection_libs/proj4.js' %}" type="text/javascript"></script>
  <script src="{% static 'nwm_forecasts/vendor/projection_libs/reproject.js' %}" type="text/javascript"></script>
  <script src="{% static 'nwm_forecasts/vendor/openlayers3.20.1/ol.js' %}" type="text/javascript"></script>
  <script src="{% static 'nwm_forecasts/vendor/highcharts4.1.7/hc.js' %}" type="text/javascript"></script>
  <script src="{% static 'nwm_forecasts/vendor/highcharts4.1.7/exporting.js' %}" type="text/javascript"></script>
  <script src="{% static 'nwm_forecasts/vendor/highcharts4.1.7/export-csv.js' %}" type="text/javascript"></script>
{% endblock %}

{% block app_content_wrapper_override %}

<div id="hs_username" class="hidden">{{hs_username}}</div>
<div id="date_string_today" class="hidden">{{date_string_today}}</div>
<div id="date_string_oldest" class="hidden">{{date_string_oldest}}</div>
<div id="date_string_AA_oldest" class="hidden">{{date_string_AA_oldest}}</div>

<!-- Home help popup -->
<div class="modal fade" id="welcome-popup" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 150%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center><h4 class="modal-title">National Water Model Forecast Viewer Guide</h4></center>
      </div>
      <div class="modal-body">
        <div id="welcome-info">
          <ol>
            <b>About the App</b>
          <p>
              <span class="sub">The NWM Viewer app has 2 modes:
              <ol>
                <li><b>Home</b>: Retrieve and view time series for a single stream reach, reservoir or grid cell (Home mode)</li>
                <li><b>Subset</b>: Subset NWM outputs (NetCDF files) with a watershed polygon to get 'shrunken' NetCDFs that only contain data for a specific area.</li>
              </ol>
              </span>
          </p>


              <b>Data Availability</b> (Current UTC Time {{date_string_today}})<br>
              <ol>
                <b>Analysis & Assimilation</b>: {{date_string_AA_oldest}} to {{date_string_today}}<br>
                <b>Short Range</b>: {{date_string_oldest}} to {{date_string_today}}<br>
                <b>Medium Range</b>: {{date_string_oldest}} to {{date_string_today}}<br>
                <b>Long Range</b>: {{date_string_oldest}} to {{date_string_today}}<br>
              </ol>
              <br>
              <b>Home mode</b> (switch to Subset mode for the other part)
              <li class="modalList"><b>Add Watershed (optional)</b> - Add a watershed polygon from HydroShare or local files (geojson or shapefile)</li>
              <li class="modalList"><b>Model Configuration</b> <br>
                  NWM has 4 model configurations:
                    <ol>
                        <li><b>Analysis & Assimilation</b> runs hourly and provides a snapshot of current hydrologic conditions at each run</li>
                        <li><b>Short Range</b> runs hourly and provides a 18-hour (1-hour interval) deterministic forecast at each run</li>
                        <li><b>Medium Range</b> runs 4 times per day (every 6 hours) and provides a 10-day (3-hour interval) deterministic forecast at each run</li>
                        <li><b>Long Range</b> runs 4 times per day (every 6 hours) and provides a 4-member 30-day (6-hour interval) ensemble forecast at each run (16-member ensemble daily)</li>

                  </ol>
              </li>
              <li class="modalList"><b>Model Output File</b> <br>
                  NWM stores model outputs in different NetCDF files.
                  <ol>
                      <li><b>Channel file</b>: stream routing result for 2.7 millions stream reaches (point-type NetCDF)</li>
                      <li><b>Land file</b>: forecasts land surface processing result for continental US (1km gridded NetCDF)</li>
                      <li><b>Reservoir file</b>: forecasts for 1260 reservoirs (point-type NetCDF)</li>
                      <li><b>Forcing file</b>: forcing variables for NWM (1km gridded NetCDF)</li>
                  </ol>
              </li>
              <li class="modalList"><b>Variable</b>: choose a variable (available variables may vary depending on previous Model Configuration and Model Output File)</li>
              <li class="modalList"><b>COMID / Grid Cell Index</b>:</li>
              <ol>
                  <li><b>COMID</b>: the unique and permanent identifier assigned to each stream reach and reservoir in NHD+ system. You can either manually enter a COMID or select a stream reach or reservoir on map</li>
                  <li><b>Grid Cell Index</b>: a pair of index value assigned to each grid cell. You can either manually enter the index values or select a grid cell on map</li>
              </ol>
              <li class="modalList"><b>Date and Time</b> <br>
                  The date and time options vary depending on <b>Model Configuration</b>:
                  <ol>
                      <li> <b>Begin/End Date</b>: a string YYYY-MM-DD to indicate model run date or date range
                      <li> <b>Model Initialization Time</b>: time point at which model starts to run. Short Range models runs hourly (24 runs per day); Medium Range model runs every 6 hours (4 runs per day).</li>
                      <li> <b>Ensemble Model Initialization Time</b>: time point at which model starts to run. Long Range model runs every 6 hours (4 runs per day). Each run produces a 4-member 30-day forecast.</li>
                  </ol>
              </li>
              <li class="modalList"><b>View Forecast</b> - Click 'View Forecast' button to retrieve time series</li>
          </ol>
        </div>
          *More about NWM: <a target="_blank" href="http://water.noaa.gov/about/nwm">View Here</a>
      </div>
      <div class="modal-footer">
        <div class="byu-logo-container">
          <span><i>Developed at the BYU Hydroinformatics Lab</i></span>
          <img src="{% static 'nwm_forecasts/images/byu-logo.png' %}"/>
        </div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!--<input type="checkbox" name="help-page-checkbox" id="help-page-checkbox" onclick="sessionStorage.welcome_popup_checkbox=this.checked;" >Display Help page at startup<br>-->
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->

<!-- Subset Help popup-->
<div class="modal fade" id="welcome-popup-subset" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 150%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center><h4 class="modal-title">National Water Model Forecast Viewer Guide</h4></center>
      </div>
      <div class="modal-body">
        <div >
          <ol>
            <b>About Subsetting</b>
          <p>
              <span class="sub">Users can subset NWM outputs (NetCDF files) by a watershed polygon to get 'shrunken' NetCDFs that only contain data for this specific area.</span>
          </p>
              <b>Current UTC Date:</b> {{date_string_today}} <br>
            <b>Available Data for Subsetting:</b>
              <br>
              <ol>
                Analysis & Assimilation: {{date_string_oldest}} to {{date_string_today}}<br>
                Short Range: {{date_string_oldest}} to {{date_string_today}}<br>
                Medium Range: {{date_string_oldest}} to {{date_string_today}}<br>
                Long Range: {{date_string_oldest}} to {{date_string_today}}<br>
              </ol>
              <br>
              <b>How to Subset a Watershed</b>
              <li class="modalList"><b>Add Watershed</b> - Add a watershed polygon from HydroShare or local files</li>
              <li class="modalList"><b>*Configuration</b> - Select a forecast range: Short, Medium, Long, or Analyis & Assimilation</li>
              <li class="modalList"><b>*Geometry</b> - Select a geometry: Channel, Land, Reservoir or Forcing</li>
              <li class="modalList"><b>Date and Time</b> - Select a date: The date and time options will vary depending on the forecast type</li>
              <li class="modalList"><b>Upload to HydroShare (optional)</b> - Check 'Upload to HydroShare' to create a HydroShare resource for subsetted netcdfs </li>
              <li class="modalList"><b>Download subsetting results</b> - Click 'Download' button</li>
          </ol>
        </div>
          *More about NWM and its terminology: <a target="_blank" href="http://water.noaa.gov/about/nwm">View Here</a>
      </div>
      <div class="modal-footer">
        <div class="byu-logo-container">
          <span><i>Developed at the BYU Hydroinformatics Lab</i></span>
          <img src="{% static 'nwm_forecasts/images/byu-logo.png' %}"/>
        </div>
        <button type="button" class="btn btn-default"  data-dismiss="modal">Close</button>
        <!--<input type="checkbox" name="help-page-checkbox" id="help-page-checkbox" onclick="sessionStorage.welcome_popup_checkbox=this.checked;" >Display Help page at startup<br>-->
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->

<div id="popup-add-local-watershed" class="modal fade" role="dialog">
    <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Local File</h4>
                </div>
                <div class="modal-body">
                    <h5>1. Choose where to store files:</h5>
                    <div id="projNotSavedInfo" class="alert-danger" hidden>
                        Your project is not currently saved. Please save the project or choose to store files in a
                        unique resource.
                    </div>
                    <label for="storeFiles-Proj">In project resource (project must be saved)</label>
                    <input type="radio" name="store-local-files" id="storeFiles-Proj" value="project">
                    <label for="storeFiles-Res">In unique resource (create new resource)</label>
                    <input type="radio" name="store-local-files" id="storeFiles-Res" value="resource" checked>
                    <fieldset id="fields-newRes">
                        <div class="form-group">
                            <label for="resType" class="control-label">Resource Type:</label>
                            <select id="resType">
                                <option value="GenericResource">Generic</option>
                                <option value="RasterResource">Raster</option>
                                <option value="GeographicFeatureResource">Geographic Feature</option>
                                <option value="ScriptResource">Script</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="resTitle" class="control-label">Resource Title:</label>
                            <input type="text" class="form-control resField" id="resTitle">
                        </div>
                        <div class="form-group">
                            <label for="resAbstract" class="control-label">Resource Abstract:</label>
                            <textarea rows="6" cols="50" id="resAbstract" class="form-control resField"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="resKeywords" class="control-label">Resource Keywords:</label>
                            <input type="text" class="form-control resField" id="resKeywords">
                        </div>
                    </fieldset>
                    <h5>2. Choose files:</h5>
                    <input id="input-files" type="file">
                    <br>
                    <div id="msg-file" class="hidden"></div>
                </div>
                <div class="modal-footer">
                    <div class="button-group flex1-0">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" id="btn-upload-file" class="btn btn-default btn-upload" disabled>Add</button>
                    </div>
                </div>
            </div>
            <!--End modal content-->
        </div>
</div>
    <!--End modal-->

  <!-- Modal1  -->
  <div class="modal fade" id="popup-load-watershed" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content" style="width: 150%;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add a watershed from HydroShare</h4>
          <h8> Loading resources owned by you: </h8>
            <br>
          <h9> 1) Geographic Feature resource has a Polygon with valid projection</h9>
             <br>
          <h9> 2) Generic resource has a *.geojson file in WGS84/EPSG:4326 projection, and has "watershed" as its resource keyword</h9>
            <br>
        </div>
        <div class="modal-body">
          <b>Searching for available watersheds on HydroShare...</b>
          <br>
          <img src="/static/nwm_forecasts/images/loading-animation.gif">
        </div>
        <div class="modal-footer">
          <!--<button type="button" class="btn btn-default" id="close-popup" data-dismiss="modal">Close</button>-->
            <div style="text-align: left;">
            <input id="input-local-watershed" style="display: inline-block" accept=".shp,.shx,.prj,.dbf,.geojson" type="file" onchange="if(this.files.length>0){$('#btn-load-watershed').removeAttr('disabled');var fn =this.files[0].name;$('#hs-shp-resource-title').val(fn.substring(0, fn.indexOf('.')));}" multiple="true">
            <input type="checkbox" id="add-local-shp-hs-checkbox" onclick="if($('#input-local-watershed')[0].files.length>0){if(this.checked){$('#hs-shp-resource-title-div').removeClass('hidden')}else{$('#hs-shp-resource-title-div').addClass('hidden')}}" >Add to HydroShare
                <div id="hs-shp-resource-title-div" class="hidden">
                    <label for="hs-shp-resource-title" class="control-label">*Resource Title:</label>
                    <input type="text" class="form-control" style="width: 50%; display: inline-block" id="hs-shp-resource-title">
                </div>
            </div>

            <button type="button" id="btn-load-watershed-refresh" class="btn btn-default" onclick="getHSWatershedList(true);">Refresh</button>
            <button type="button" id="btn-load-watershed" class="btn btn-default" disabled>Add</button>

        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->

  <!-- Modal2  -->
  <div class="modal fade" id="hydroshare-modal" tabindex="-1" role="dialog" aria-labelledby="AddHydroshareResource">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h6 class="modal-title">Share this Time Series on HydroShare (*Required)</h6>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="resource-title" class="control-label">*Resource Title:</label>
            <input type="text" class="form-control" id="resource-title">
          </div>
          <!--<form action="">-->
          <div class="form-group">
            <label for="staticTS">
              <input id="staticTS" type="radio" name="time_period" value="current" checked> Static time series
            </label><br />
            <label for="dynamicTS">
              <input id="dynamicTS"type="radio" name="time_period" value="preceding"> Dynamic time series
            </label><br />
            <div class="form-group" id="time_selection" hidden>
              <form class="form-inline">
                Always retrieve data for the most recent:
                <input type="text" class="form-control" name="period" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                data-toggle="tooltip" data-placement="top" title="" data-original-title="Input must be a number">
                <select id="time_period_units" class="form-control">
                  <option value="h">Hour(s)</option>
                  <option value="d">Day(s)</option>
                  <option value="m">Month(s)</option>
                </select>
              </form>
            </div>
          </div>
          <div class="form-group">
            <label for="resource-abstract" class="control-label">*Resource Abstract:</label>
            <textarea rows="6" cols="50" id="resource-abstract" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label for="resource-keywords" class="control-label">*Resource Keywords:</label>
            <input type="text" class="form-control" id="resource-keywords">
          </div>
          <div class="form-group">
            <input type="checkbox" id="resource-public" checked> Make It Public<br>
          </div>
        </div>
        <div class="modal-footer">
          <div id="display-status" class="col-md-8"></div>
          <div id="footer-buttons" class="col-md-4">
            <button type="button" class="btn btn-default footer" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary footer" id="hydroshare-proceed">Proceed</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->


<!-- Modal3  Add subset NWM netcdf to Hydroshare -->
<div class="modal fade" id="hydroshare-subset" tabindex="-1" role="dialog" aria-labelledby="AddHydroshareResource">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="$('#subsetBtn, #watershedBtn, #submitBtn').removeAttr('disabled');"
                        aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h6 class="modal-title">Upload subsetting result to HydroShare</h6>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="resource-title-subset" class="control-label">*Resource Title:</label>
                    <input type="text" class="form-control" id="resource-title-subset">
                </div>
                <!--<div class="form-group">-->
                    <!--<label for="resource-type-subset" class="control-label">*Resource Type:</label>-->
                    <!--<select class="form-control" id="resource-type-subset">-->
                        <!--<option>CompositeResource</option>-->
                        <!--<option>GenericResource</option>-->
                        <!--&lt;!&ndash;<option>NetcdfResource</option>&ndash;&gt;-->
                    <!--</select>-->
                <!--</div>-->
                <div class="form-group">
                    <label for="resource-abstract-subset" class="control-label">*Resource Abstract:</label>
                    <textarea rows="6" cols="50" id="resource-abstract-subset" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="resource-keywords-subset" class="control-label">*Resource Keywords (Separate each keyword with a comma):</label>
                    <input type="text" class="form-control" id="resource-keywords-subset">
                </div>
            </div>
            <div class="modal-footer">
                <div id="display-status-subset" class="col-md-8"></div>
                <div id="footer-buttons-subset" class="col-md-4">
                    <!--<button type="button" class="btn btn-default footer" data-dismiss="modal" onclick="clearUploadForm()">Close</button>-->
                    <button type="button" class="btn btn-primary footer" id="hydroshare-proceed-subset" onclick="subset_watershed_hydroshare()">Proceed</button>
                </div>
            </div>
        </div>
    </div>
</div>
  <!-- End Modal -->
{{block.super}}
{% endblock %}