{% extends "tethys_apps/app_base.html" %}

{% load staticfiles %}

{% block title %}- {{ tethys_app.name }}{% endblock %}

{% block app_icon %}
  {# The path you provided in your app.py is accessible through the tethys_app.icon context variable #}
  <img src="{% static tethys_app.icon %}">
{% endblock %}

{# The name you provided in your app.py is accessible through the tethys_app.name context variable #}
{% block app_title %}{{ tethys_app.name }}{% endblock %}


{#{% block exit_button_override %}#}
{#  <div class="my-exit-button">#}
{#      <a href="javascript:void(0);" onclick="if(!window.location.href.includes('/subset/')) {$('#welcome-popup').modal('show');}else{$('#welcome-popup-subset').modal('show');}">Help</a>#}
{#      <a href="javascript:void(0);" onclick="TETHYS_APP_BASE.exit_app('{% url 'nwm_forecasts:api_page' %}');" >API</a>#}
{#      <a href="javascript:void(0);" onclick="TETHYS_APP_BASE.exit_app('{% url 'app_library' %}');">Exit</a>#}
{#  </div>#}
{#{% endblock %}#}

{% block header_buttons %}
    <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="What's New">
        <a data-toggle="modal" data-target="#" onclick="$('#updates-popup').modal('show');"><span class="glyphicon glyphicon-info-sign"></span></a>
    </div>
    <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
        <a data-toggle="modal" data-target="#" onclick="if(!window.location.href.includes('/subset/')) {$('#welcome-popup').modal('show');}else{$('#welcome-popup-subset').modal('show');}"><span class="glyphicon glyphicon-question-sign"></span></a>
    </div>
    <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="API">
        <a data-toggle="modal" data-target="#" onclick="TETHYS_APP_BASE.exit_app('{% url 'nwm_forecasts:api_page' %}');"><span class="glyphicon">API</span></a>
    </div>
{% endblock %}


{% block app_navigation_items %}

{% endblock %}

{% block app_content %}
{% endblock %}

{% block app_actions %}
{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'nwm_forecasts/vendor/ol3gm/ol3gm.css' %}" type="text/css" />
  <link href="{% static 'nwm_forecasts/css/main.css' %}" rel="stylesheet"/>
  <link href="{% static 'nwm_forecasts/vendor/openlayers3.20.1/ol.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDPgvDUpbEwcbg9C0cRTfDtDa-Vj4WBwI0"></script>-->
  <!--<script type="text/javascript" src="{% static 'nwm_forecasts/vendor/ol3gm/ol3gm.js' %}"></script>-->
  <script src="{% static 'nwm_forecasts/js/main.js' %}" type="text/javascript"></script>
  <script src="{% static 'nwm_forecasts/js/hydroshare.js' %}" type="text/javascript"></script>
  <script src="{% static 'nwm_forecasts/vendor/projection_libs/proj4.js' %}" type="text/javascript"></script>
  <script src="{% static 'nwm_forecasts/vendor/projection_libs/reproject.js' %}" type="text/javascript"></script>
  <script src="{% static 'nwm_forecasts/vendor/openlayers3.20.1/ol.js' %}" type="text/javascript"></script>
  <script src="{% static 'nwm_forecasts/vendor/highcharts4.1.7/hc.js' %}" type="text/javascript"></script>
  <script src="{% static 'nwm_forecasts/vendor/highcharts4.1.7/exporting.js' %}" type="text/javascript"></script>
  <script src="{% static 'nwm_forecasts/vendor/highcharts4.1.7/export-csv.js' %}" type="text/javascript"></script>
{% endblock %}

{% block app_content_wrapper_override %}

<div id="hs_username" class="hidden">{{hs_username}}</div>
<div id="date_string_today" class="hidden">{{date_string_today}}</div>
<div id="date_string_oldest" class="hidden">{{date_string_oldest}}</div>
<div id="date_string_AA_oldest" class="hidden">{{date_string_AA_oldest}}</div>

<!-- Home help popup -->
<div class="modal fade" id="welcome-popup" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 150%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center><h4 class="modal-title">National Water Model Forecast Viewer Guide</h4></center>
      </div>
      <div class="modal-body">
        <div id="welcome-info">
          <ol>
            <b>About National Water Model (NWM)</b><br>
              We highly recommend this brief introduction on <a target="_blank" href="http://water.noaa.gov/about/nwm">National Water Model</a> to first-time users.
              <br>
              <b>App Features</b>
          <p>
              <span class="sub">The NWM Viewer app has 2 main features provided in Home Mode and Subset Mode respectively:
              <ol>
                <li><b>Home Mode</b>: Retrieve and View NWM Time Series for a single stream reach, reservoir or grid cell.</li>
                <li><b>Subset Mode</b>: Subset NWM outputs (NetCDF files) with a watershed polygon to get 'shrunken' NetCDFs that only contain data for a specific area.</li>
              </ol>
              </span>
          </p>
              <h5>Home Mode</h5>
              <li class="modalList"><b>Add Watershed (optional)</b> - Add a watershed polygon from HydroShare or local files (geojson or shapefile)</li>
              <li class="modalList"><b>Archive</b> <br>
                  Select one of the archives to query against:
                    <ol>
                        <li><b>40-Day Rolling Window</b> NWM daily outputs on a 40-day rolling windows + historical Analysis_Assim data back to 20160609</li>
                        <li><b>Harvey Data</b> NWM 1.1 outputs for Hurricane Harvey period (20170818 - 20170906)</li>
                        <li><b>Irma Data</b> NWM 1.1 outputs for Hurricane Irma period (20170829 - 20170915)</li>
                  </ol>
              </li>
              <li class="modalList"><b>Model Configuration</b> <br>
                  NWM has 4 model configurations:
                    <ol>
                        <li><b>Analysis & Assimilation (AA)</b> runs hourly and each run provides a snapshot of current hydrologic conditions. (24-hour timeseries with 1-hour interval daily)</li>
                        <li><b>Short Range (SR)</b> runs hourly and each run provides a 18-hour deterministic forecast with 1-hour interval.</li>
                        <li><b>Medium Range (MR)</b> runs 4 times per day (every 6 hours) and each run provides a 10-day deterministic forecast with 3-hour interval.</li>
                        <li><b>Long Range (LR)</b> runs 4 times per day (every 6 hours) and each run provides a 4-member 30-day ensemble forecast with 6-hour interval. (16-member ensemble daily)</li>
                  </ol>
              </li>
              <li class="modalList"><b>Model Output File</b> <br>
                  NWM stores model outputs in different NetCDF files.
                  <ol>
                      <li><b>Channel file</b>: stream routing results for 2.7 millions stream reaches (point-type NetCDF)</li>
                      <li><b>Land file</b>: land surface processing results (1km gridded NetCDF)</li>
                      <li><b>Reservoir file</b>: forecasts for 1260 reservoirs (point-type NetCDF)</li>
                      <li><b>Forcing file</b>: forcing variables (1km gridded NetCDF)</li>
                  </ol>
              </li>
              <li class="modalList"><b>Variable</b>: choose a variable (list of available variables varies depending on previous Model Configuration and Model Output File)</li>
              <li class="modalList"><b>COMID / Grid Cell Index</b>:</li>
              <ol>
                  <li><b>COMID</b>: the unique and permanent identifier assigned to each stream reach and reservoir in the NHD+ system. You can either manually enter a COMID or select a stream reach or reservoir on map.</li>
                  <li><b>Grid Cell Index</b>: a pair of index value assigned to each grid cell. You can either manually enter the index values or select a grid cell on map.</li>
              </ol>
              <li class="modalList"><b>Date and Time</b> <br>
                  The date and time options vary depending on <b>Model Configuration</b>:
                  <ol>
                      <li> <b>Begin/End Date</b>: a string YYYY-MM-DD to indicate model run date for SR, MR and LR configurations or a date range for AA configuration.
                          <br>
                          <b>Data Availability for 40-Day Rolling Window archive</b> (Current UTC Time {{date_string_today}})<br>
                          <ol>
                            <b>AA</b>: {{date_string_AA_oldest}} to {{date_string_today}}<br>
                            <b>SR</b>: {{date_string_oldest}} to {{date_string_today}}<br>
                            <b>MR</b>: {{date_string_oldest}} to {{date_string_today}}<br>
                            <b>LR</b>: {{date_string_oldest}} to {{date_string_today}}<br>
                          </ol>
                      <li> <b>Model Initialization Time</b>: the time point (T) at which model starts to run. If a model is initialized at time T, SR's first forecast analysis time is T+1 and MR's first forecast analysis time is T+3.</li>
                      <li> <b>Ensemble Model Initialization Time</b>: the time point (T) at which a model starts to run. LR's first forecast analysis time is T+6.</li>
                  </ol>
              </li>
              <li class="modalList"><b>View Forecast</b> - Click 'View Forecast' button to retrieve time series</li>
          </ol>
        </div>
          (For instructions on Subset mode please switch mode first)
      </div>
      <div class="modal-footer">
        <div class="byu-logo-container">
          <span><i>Developed at the BYU Hydroinformatics Lab</i></span>
          <img src="{% static 'nwm_forecasts/images/byu-logo.png' %}"/>
        </div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!--<input type="checkbox" name="help-page-checkbox" id="help-page-checkbox" onclick="sessionStorage.welcome_popup_checkbox=this.checked;" >Display Help page at startup<br>-->
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->

<!-- Updates Help popup-->
<div class="modal fade" id="updates-popup" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 150%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center><h4 class="modal-title">What's New in the National Water Model Forecast Viewer App</h4></center>
      </div>
      <div class="modal-body">
          <div id="welcome-info">
              <p style="color:red;">
                2018-06-18: Data loss for date 20180614
                <ol>
                    <li> A recent network interruption incident caused failure of transferring and archiving some files for date 20180614 on HydroShare NWM server, which are hard to recover as they have been permanently wiped from upstream NOMADS server. See below for details:</li>
                    <ol>
                        <li>analysis_assim: not affected</li>
                        <li>forcing_analysis_assim: timestamp 20Z to 23Z</li>
                        <li>short_range: timestamp 00Z to 23Z</li>
                        <li>forcing_short_range: not affected</li>
                        <li>medium_range: timestamp 18Z</li>
                        <li>forcing_medium_range: timestamp 18Z</li>
                        <li>long_range_mem1: not affected</li>
                        <li>long_range_mem2: timestamp 12Z & 18Z</li>
                        <li>long_range_mem3: timestamp 12Z & 18Z</li>
                        <li>long_range_mem4: timestamp 12Z & 18Z</li>
                        <li>usgs_timeslices: timestamp 20:30 to 23:45</li>
                    </ol>
                </ol>
              </p>
              <p style="color:red;">
                2018-06-12: Hurricane data available
                <ol>
                    <li> Hurricane archive has been integrated; Current release supports query and subsetting on Harvey and Irma data</li>
                    <li> A new optional parameter "archive" is added to both GetWaterML and submit-subsetting-job endpoints to differentiate archives (see Example 5)</li>
                    <ol>
                        <li>rolling: 40-day rolling window (default)</li>
                        <li>harvey: Hurrican Harvey (2017-08-18 to 2017-09-06)</li>
                        <li>irma: Hurricane Irma (2017-08-29 to 2017-09-15)</li>
                    </ol>
                </ol>
              </p>
                <p style="color:red;">
                 2018-04-20: APIs updated
                    <ol>
                        <li> The domain of API endpoints has been temporarily changed to https://hs-apps.hydroshare.org/;</li>
                        <li> API Token and Rate Limiting are in place;</li>
                    </ol>
                </p>
        </div>
      </div>
      <div class="modal-footer">
        <div class="byu-logo-container">
          <span><i>Developed at the BYU Hydroinformatics Lab</i></span>
          <img src="{% static 'nwm_forecasts/images/byu-logo.png' %}"/>
        </div>
        <button type="button" class="btn btn-default"  data-dismiss="modal">Close</button>
        <!--<input type="checkbox" name="help-page-checkbox" id="help-page-checkbox" onclick="sessionStorage.welcome_popup_checkbox=this.checked;" >Display Help page at startup<br>-->
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->

<!-- Subset Help popup-->
<div class="modal fade" id="welcome-popup-subset" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 150%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center><h4 class="modal-title">National Water Model Forecast Viewer Guide</h4></center>
      </div>
      <div class="modal-body">
          <div id="welcome-info">
          <ol>
            <b>About National Water Model (NWM)</b><br>
              We highly recommend this brief introduction on <a target="_blank" href="http://water.noaa.gov/about/nwm">National Water Model</a> to first-time users.
              <br>
              <b>App Features</b>
          <p>
              <span class="sub">The NWM Viewer app has 2 main features provided in Home Mode and Subset Mode respectively:
              <ol>
                <li><b>Home Mode</b>: Retrieve and View NWM Time Series for a single stream reach, reservoir or grid cell.</li>
                <li><b>Subset Mode</b>: Subset NWM outputs (NetCDF files) with a watershed polygon to get 'shrunken' NetCDFs that only contain data for a specific area.</li>
              </ol>
              </span>
          </p>
              <h5>Subset Mode</h5>
              <li class="modalList"><b>Add Watershed</b>: Add a watershed polygon from HydroShare or local files (geojson or shapefile).</li>
              <li class="modalList"><b>Archive</b> <br>
                  Select one of the archives to query against:
                    <ol>
                        <li><b>40-Day Rolling Window</b> NWM daily outputs on a 40-day rolling windows + historical Analysis_Assim data back to 20160609</li>
                        <li><b>Harvey Data</b> NWM 1.1 outputs for Hurricane Harvey period (20170818 - 20170906)</li>
                        <li><b>Irma Data</b> NWM 1.1 outputs for Hurricane Irma period (20170829 - 20170915)</li>
                  </ol>
              </li>
              <li class="modalList"><b>Model Configuration</b> <br>
                  NWM has 4 model configurations:
                    <ol>
                        <li><b>Analysis & Assimilation (AA)</b> runs hourly and each run provides a snapshot of current hydrologic conditions. (24-hour timeseries with 1-hour interval daily)</li>
                        <li><b>Short Range (SR)</b> runs hourly and each run provides a 18-hour deterministic forecast with 1-hour interval.</li>
                        <li><b>Medium Range (MR)</b> runs 4 times per day (every 6 hours) and each run provides a 10-day deterministic forecast with 3-hour interval.</li>
                        <li><b>Long Range (LR)</b> runs 4 times per day (every 6 hours) and each run provides a 4-member 30-day ensemble forecast with 6-hour interval. (16-member ensemble daily)</li>
                  </ol>
              </li>
              <li class="modalList"><b>Model Output File</b> <br>
                  NWM stores model outputs in different NetCDF files.
                  <ol>
                      <li><b>Channel file</b>: stream routing results for 2.7 millions stream reaches (point-type NetCDF)</li>
                      <li><b>Land file</b>: land surface processing results (1km gridded NetCDF)</li>
                      <li><b>Reservoir file</b>: forecasts for 1260 reservoirs (point-type NetCDF)</li>
                      <li><b>Forcing file</b>: forcing variables (1km gridded NetCDF)</li>
                  </ol>
              </li>
              <li class="modalList"><b>Date and Time</b> <br>
                  The date and time options vary depending on <b>Model Configuration</b>:
                  <ol>
                      <li> <b>Begin/End Date</b>: a string YYYY-MM-DD to indicate model run date for SR, MR and LR configurations or a date range for AA configuration.
                          <br>
                          <b>Data Availability for 40-Day Rolling Window archive</b> (Current UTC Time {{date_string_today}})<br>
                          <ol>
                            <b>AA</b>: 2017-05-09 to {{date_string_today}}<br>
                            <b>SR</b>: {{date_string_oldest}} to {{date_string_today}}<br>
                            <b>MR</b>: {{date_string_oldest}} to {{date_string_today}}<br>
                            <b>LR</b>: {{date_string_oldest}} to {{date_string_today}}<br>
                          </ol>
                      <li> <b>Model Initialization Time</b>: the time point (T) at which model starts to run. If a model is initialized at time T, SR's first forecast analysis time is T+1 and MR's first forecast analysis time is T+3.</li>
                      <li> <b>Ensemble Model Initialization Time</b>: the time point (T) at which a model starts to run. LR's first forecast analysis time is T+6.</li>
                  </ol>
              </li>
              <li class="modalList"><b>Upload to HydroShare (optional)</b>: create a HydroShare NetCDF Resource for subsetted files </li>
              <li class="modalList"><b>Subset</b>: Start Subsetting process </li>
          </ol>
        </div>
          (For instructions on Home mode please switch mode first)
      </div>
      <div class="modal-footer">
        <div class="byu-logo-container">
          <span><i>Developed at the BYU Hydroinformatics Lab</i></span>
          <img src="{% static 'nwm_forecasts/images/byu-logo.png' %}"/>
        </div>
        <button type="button" class="btn btn-default"  data-dismiss="modal">Close</button>
        <!--<input type="checkbox" name="help-page-checkbox" id="help-page-checkbox" onclick="sessionStorage.welcome_popup_checkbox=this.checked;" >Display Help page at startup<br>-->
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->

<div id="popup-add-local-watershed" class="modal fade" role="dialog">
    <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Local File</h4>
                </div>
                <div class="modal-body">
                    <h5>1. Choose where to store files:</h5>
                    <div id="projNotSavedInfo" class="alert-danger" hidden>
                        Your project is not currently saved. Please save the project or choose to store files in a
                        unique resource.
                    </div>
                    <label for="storeFiles-Proj">In project resource (project must be saved)</label>
                    <input type="radio" name="store-local-files" id="storeFiles-Proj" value="project">
                    <label for="storeFiles-Res">In unique resource (create new resource)</label>
                    <input type="radio" name="store-local-files" id="storeFiles-Res" value="resource" checked>
                    <fieldset id="fields-newRes">
                        <div class="form-group">
                            <label for="resType" class="control-label">Resource Type:</label>
                            <select id="resType">
                                <option value="GenericResource">Generic</option>
                                <option value="RasterResource">Raster</option>
                                <option value="GeographicFeatureResource">Geographic Feature</option>
                                <option value="ScriptResource">Script</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="resTitle" class="control-label">Resource Title:</label>
                            <input type="text" class="form-control resField" id="resTitle">
                        </div>
                        <div class="form-group">
                            <label for="resAbstract" class="control-label">Resource Abstract:</label>
                            <textarea rows="6" cols="50" id="resAbstract" class="form-control resField"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="resKeywords" class="control-label">Resource Keywords:</label>
                            <input type="text" class="form-control resField" id="resKeywords">
                        </div>
                    </fieldset>
                    <h5>2. Choose files:</h5>
                    <input id="input-files" type="file">
                    <br>
                    <div id="msg-file" class="hidden"></div>
                </div>
                <div class="modal-footer">
                    <div class="button-group flex1-0">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" id="btn-upload-file" class="btn btn-default btn-upload" disabled>Add</button>
                    </div>
                </div>
            </div>
            <!--End modal content-->
        </div>
</div>
    <!--End modal-->

  <!-- Modal1  -->
  <div class="modal fade" id="popup-load-watershed" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content" style="width: 150%;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add a watershed from HydroShare</h4>
          <h8> Loading resources owned by you: </h8>
            <br>
          <h9> 1) Geographic Feature resource has a Polygon with valid projection</h9>
             <br>
          <h9> 2) Generic resource has a *.geojson file in WGS84/EPSG:4326 projection, and has "watershed" as its resource keyword</h9>
            <br>
        </div>
        <div class="modal-body">
          <b>Searching for available watersheds on HydroShare...</b>
          <br>
          <img src="/static/nwm_forecasts/images/loading-animation.gif">
        </div>
        <div class="modal-footer">
          <!--<button type="button" class="btn btn-default" id="close-popup" data-dismiss="modal">Close</button>-->
            <div style="text-align: left;">
            <input id="input-local-watershed" style="display: inline-block" accept=".shp,.shx,.prj,.dbf,.geojson" type="file" onchange="if(this.files.length>0){$('#btn-load-watershed').removeAttr('disabled');var fn =this.files[0].name;$('#hs-shp-resource-title').val(fn.substring(0, fn.indexOf('.')));}" multiple="true">
            <input type="checkbox" id="add-local-shp-hs-checkbox" onclick="if($('#input-local-watershed')[0].files.length>0){if(this.checked){$('#hs-shp-resource-title-div').removeClass('hidden')}else{$('#hs-shp-resource-title-div').addClass('hidden')}}" >Add to HydroShare
                <div id="hs-shp-resource-title-div" class="hidden">
                    <label for="hs-shp-resource-title" class="control-label">*Resource Title:</label>
                    <input type="text" class="form-control" style="width: 50%; display: inline-block" id="hs-shp-resource-title">
                </div>
            </div>

            <button type="button" id="btn-load-watershed-refresh" class="btn btn-default" onclick="getHSWatershedList(true);">Refresh</button>
            <button type="button" id="btn-load-watershed" class="btn btn-default" disabled>Add</button>

        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->

  <!-- Modal2  -->
  <div class="modal fade" id="hydroshare-modal" tabindex="-1" role="dialog" aria-labelledby="AddHydroshareResource">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h6 class="modal-title">Share this Time Series on HydroShare (*Required)</h6>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="resource-title" class="control-label">*Resource Title:</label>
            <input type="text" class="form-control" id="resource-title">
          </div>
          <!--<form action="">-->
          <div class="form-group">
            <label for="staticTS">
              <input id="staticTS" type="radio" name="time_period" value="current" checked> Static time series
            </label><br />
            <label for="dynamicTS">
              <input id="dynamicTS"type="radio" name="time_period" value="preceding"> Dynamic time series
            </label><br />
            <div class="form-group" id="time_selection" hidden>
              <form class="form-inline">
                Always retrieve data for the most recent:
                <input type="text" class="form-control" name="period" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                data-toggle="tooltip" data-placement="top" title="" data-original-title="Input must be a number">
                <select id="time_period_units" class="form-control">
                  <option value="h">Hour(s)</option>
                  <option value="d">Day(s)</option>
                  <option value="m">Month(s)</option>
                </select>
              </form>
            </div>
          </div>
          <div class="form-group">
            <label for="resource-abstract" class="control-label">*Resource Abstract:</label>
            <textarea rows="6" cols="50" id="resource-abstract" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label for="resource-keywords" class="control-label">*Resource Keywords:</label>
            <input type="text" class="form-control" id="resource-keywords">
          </div>
          <div class="form-group">
            <input type="checkbox" id="resource-public" checked> Make It Public<br>
          </div>
        </div>
        <div class="modal-footer">
          <div id="display-status" class="col-md-8"></div>
          <div id="footer-buttons" class="col-md-4">
            <button type="button" class="btn btn-default footer" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary footer" id="hydroshare-proceed">Proceed</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->


<!-- Modal3  Add subset NWM netcdf to Hydroshare -->
<div class="modal fade" id="hydroshare-subset" tabindex="-1" role="dialog" aria-labelledby="AddHydroshareResource">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="$('#subsetBtn, #watershedBtn, #submitBtn').removeAttr('disabled');"
                        aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h6 class="modal-title">Upload subsetting result to HydroShare</h6>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="resource-title-subset" class="control-label">*Resource Title:</label>
                    <input type="text" class="form-control" id="resource-title-subset">
                </div>
                <!--<div class="form-group">-->
                    <!--<label for="resource-type-subset" class="control-label">*Resource Type:</label>-->
                    <!--<select class="form-control" id="resource-type-subset">-->
                        <!--<option>CompositeResource</option>-->
                        <!--<option>GenericResource</option>-->
                        <!--&lt;!&ndash;<option>NetcdfResource</option>&ndash;&gt;-->
                    <!--</select>-->
                <!--</div>-->
                <div class="form-group">
                    <label for="resource-abstract-subset" class="control-label">*Resource Abstract:</label>
                    <textarea rows="6" cols="50" id="resource-abstract-subset" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="resource-keywords-subset" class="control-label">*Resource Keywords (Separate each keyword with a comma):</label>
                    <input type="text" class="form-control" id="resource-keywords-subset">
                </div>
            </div>
            <div class="modal-footer">
                <div id="display-status-subset" class="col-md-8"></div>
                <div id="footer-buttons-subset" class="col-md-4">
                    <!--<button type="button" class="btn btn-default footer" data-dismiss="modal" onclick="clearUploadForm()">Close</button>-->
                    <button type="button" class="btn btn-primary footer" id="hydroshare-proceed-subset" onclick="subset_watershed_hydroshare()">Proceed</button>
                </div>
            </div>
        </div>
    </div>
</div>
  <!-- End Modal -->
{{block.super}}
{% endblock %}