{% extends "tethys_apps/app_base.html" %}

{% load staticfiles %}

{% load tethys_gizmos %}

{% block title %}- {{ tethys_app.name }}{% endblock %}

{% block app_icon %}
  {# The path you provided in your app.py is accessible through the tethys_app.icon context variable #}
  <img src="{% static tethys_app.icon %}">
{% endblock %}

{% block exit_button_override %}
  <div class="exit-button" style="display: flex;">
    <a href="javascript:void(0);" onclick="TETHYS_APP_BASE.exit_app('https://apps.hydroshare.org/apps/nwm-data-explorer/api/');" style="margin-right: 20px;">Developers API</a>
    <a href="javascript:void(0);" onclick="TETHYS_APP_BASE.exit_app('{% url 'app_library' %}');">Exit</a>
  </div>
{% endblock %}

{# The name you provided in your app.py is accessible through the tethys_app.name context variable #}
{% block app_title %}{{ tethys_app.name }}{% endblock %}

{% block app_navigation_items %}
  <button id="watershedBtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#popup-load-watershed">Add Watershed</button>
  <br /><br />
  <form id="paramForm" method="get" action="{% url 'nwm_forecasts:home' %}">
    {% gizmo select_input config_input %}
    {% gizmo select_input geom_input %}
    <div class="form-group ">
      <label class="control-label" for="variable">Enter Variable</label>
      <select id="variable" class="form-control" name="variable">
        <option id="streamVar" value="streamflow" selected>Streamflow</option>
        <option id="velocVar" value="velocity">Velocity</option>
        <option id="infVar" value="inflow" class="hidden">Inflow</option>
        <option id="outfVar" value="outflow" class="hidden">Outflow</option>
        <option id="snowhVar" value="SNOWH" class="hidden">Snow Depth</option>
        <option id="sneqVar" value="SNEQV" class="hidden">Snow Water Equivalent</option>
        <option id="snowcVar" value="FSNO" class="hidden">Snow-cover</option>
        <option id="etVar" value="ACCET" class="hidden">Accumulated Total ET</option>
        <option id="ssVar" value="SOILSAT_TOP" class="hidden">Near Surface Soil Saturation</option>
        <option id="avsnowVar" value="SNOWT_AVG" class="hidden">Average Snow Temperature</option>
        <option id="subrunoffVar" value="UGDRNOFF" class="hidden">Accumulated Groundwater Runoff</option>
        <option id="runoffVar" value="SFCRNOFF" class="hidden">Accumulated Surface Runoff</option>
        <option id="evapVar" value="ACCECAN" class="hidden">Accumulated Canopy Evaporation</option>
        <option id="soiltVar" value="SOIL_T" class="hidden">Soil Temperature</option>
        <option id="soilmVar" value="SOIL_M" class="hidden">Volumetric Soil Moisture</option>
        <option id="canwVar" value="CANWAT" class="hidden">Total Canopy Water</option>
        <option id="ssiVar" value="SOILSAT" class="hidden">Soil Saturation (Column integrated)</option>
      </select>
    </div>
    <div id="comidDiv">
      <label class="control-label" for="comidInput">Enter COMID</label>
      <input id="comidInput" name="COMID" type="text" class="form-control form-group" data-toggle="tooltip"
             data-placement="top" title="Select stream reach from map or enter manually">
    </div>
    <div id="gridDiv" class="hidden">
      <label class="control-label" for="gridInputY">Enter Grid Cell South-North Value</label>
      <input id="gridInputY" name="Y" type="text" class="form-control form-group" disabled>
      <label class="control-label" for="gridInputX">Enter Grid Cell West-East Value</label>
      <input id="gridInputX" name="X" type="text" class="form-control form-group" disabled>
    </div>
    <input id="longInput" name="longitude" type="text" value="-98" class="hidden">
    <input id="latInput" name="latitude" type="text" value="38.5" class="hidden">

    {% gizmo date_picker start_date %}
    {% gizmo select_input start_time %}

    <div id="timeLag" class="hidden">
      <label>Time lag</label>
      <div class="row">
        <div class="col-md-1">
          <p>00z</p>
        </div>
        <div class="col-md-4">
          {% gizmo toggle_switch longRangeLag00 %}
        </div>
        <div class="col-md-1">
          <p>06z</p>
        </div>
        <div class="col-md-4">
          {% gizmo toggle_switch longRangeLag06 %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
          <p>12z</p>
        </div>
        <div class="col-md-4">
          {% gizmo toggle_switch longRangeLag12 %}
        </div>
        <div class="col-md-1">
          <p>18z</p>
        </div>
        <div class="col-md-4">
          {% gizmo toggle_switch longRangeLag18 %}
        </div>
      </div>
    </div>

    <label id="endDateLabel" class="control-label hidden" for="endDate">Enter Ending Date</label>
    {% gizmo date_picker end_date %}
    <input type="text" id="input-watershed-id" name="watershed" hidden>
  </form>
  {% gizmo button submit_button %}

{% endblock %}

{% block app_content %}
{% endblock %}

{% block app_actions %}
{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
  <link href="{% static 'nwm_forecasts/css/main.css' %}" rel="stylesheet"/>
  <link href="{% static 'nwm_forecasts/vendor/openlayers3.8.2/ol.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'nwm_forecasts/js/main.js' %}" type="text/javascript"></script>
  <script src="{% static 'nwm_forecasts/vendor/projection_libs/proj4.js' %}" type="text/javascript"></script>
  <script src="{% static 'nwm_forecasts/vendor/projection_libs/reproject.js' %}" type="text/javascript"></script>
  <script src="{% static 'nwm_forecasts/vendor/openlayers3.8.2/ol.js' %}" type="text/javascript"></script>
  <script src="{% static 'nwm_forecasts/vendor/highcharts4.1.7/hc.js' %}" type="text/javascript"></script>
  <script src="{% static 'nwm_forecasts/vendor/highcharts4.1.7/exporting.js' %}" type="text/javascript"></script>
  <script src="{% static 'nwm_forecasts/vendor/highcharts4.1.7/export-csv.js' %}" type="text/javascript"></script>
  <script src="{% static 'nwm_forecasts/vendor/WATERS/WATERSServices-1.0.0-min.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPgvDUpbEwcbg9C0cRTfDtDa-Vj4WBwI0" type="text/javascript"></script>
  {% if watershed %}
    {% if watershed.success %}
      <script>
        $(function () {
          addGeojsonLayerToMap('{{watershed.geojson_str}}', '{{watershed.proj_str}}', '{{ watershed.id }}', false);
        });
      </script>
    {% endif %}
  {% endif %}
{% endblock %}