{% extends "nwm_forecasts/base.html" %}

{% load tethys_gizmos %}
{% load staticfiles %}

{% block app_content %}
  <div id="map-view" class="noGraph"></div>
  <div id="info" class="hidden"></div>
  <br />
  <div id="nc-chart" class="hidden"></div>
{% endblock %}

{% block app_actions %}
  <div id="actionBtns" class="hidden">
    {% if HS_button %}
      {% gizmo button HSGIS_button %}
      {% gizmo button HS_button %}
      <a target="_blank" href="{% url 'nwm_forecasts:waterml' %}{{waterml_url}}" class="btn btn-default">Get WaterML</a>
    {% endif %}
  </div>
{% endblock %}