{% extends "nwm_forecasts/base.html" %}

{% load tethys_gizmos %}
{% load staticfiles %}

{% block app_navigation_items %}
{#{{ block.super }}#}
    <li class="separator"></li>
    <li class="active" data-toggle="tooltip"
               data-placement="bottom" title="Retrieve and View NWM forecasts for a single stream reach, reservoir or grid cell">
        <a href="">Home</a>
    </li>
    <li class="separator"></li>
    <li data-toggle="tooltip"
               data-placement="bottom" title="Subset NWM outputs with a watershed polygon">
        <a href="{% url 'nwm_forecasts:subset' %}">Subset</a>
    </li>

    {% if hs_ready|lower == "true" %}
        <br/>
        <button id="watershedBtn" title="Add a watershed polygon to map" type="button" class="btn btn-primary"
                data-toggle="modal" data-target="#popup-load-watershed">Add Watershed
        </button>
        <br><br>
    {%endif%}

<form id="paramForm" method="get" action="{% url 'nwm_forecasts:home' %}">

    <div class="form-group ">
        <label class="control-label" for="archive" data-toggle="tooltip"
               data-placement="bottom" title="Select the archive to query">Archive</label>
        <select id="archive" class="form-control" name="archive">
            <option value="rolling" selected="selected" title="40-day rolling window archive">40-Day Rolling Window</option>
            <option value="harvey" title="historical archive for the Harvey hurricane (20170818-20170906)">Harvey (20170818-20170906)</option>
            <option value="irma" title="historical archive for Irma hurricane (20170829-20170915)">Irma (20170829-20170915)</option>
        </select>
    </div>

    <div class="form-group ">
        <label class="control-label" for="config" data-toggle="tooltip"
               data-placement="bottom" title="NWM has 4 model configurations: Analysis & Assimilation, Short Range, Medium Range and Long Range">Model Configuration</label>
        <select id="config" class="form-control" name="config">
            <option value="analysis_assim" title="Analysis & Assimilation (AA) runs hourly and each run provides a snapshot of current hydrologic conditions. (24-hour timeseries with 1-hour interval daily)">Analysis and Assimilation</option>
            <option value="short_range" selected="selected" title="Short Range (SR) runs hourly and each run provides a 18-hour deterministic forecast with 1-hour interval.">Short Range</option>
            <option value="medium_range" title="Medium Range (MR) runs 4 times per day (every 6 hours) and each run provides a 10-day deterministic forecast with 3-hour interval">Medium Range</option>
            <option value="long_range" title="Long Range (LR) runs 4 times per day (every 6 hours) and each run provides a 4-member 30-day ensemble forecast with 6-hour interval (16-member ensemble daily)">Long Range</option>
        </select>
    </div>

    <div class="form-group">
        <label class="control-label" for="geom" data-toggle="tooltip"
               data-placement="top" title="NWM stores model outputs in different NetCDF files. This app can access Channel file, Land file, Reservoir file and Forcing file.">Model Output File</label>
        <select id="geom" class="form-control" name="geom">
            <option value="channel_rt" selected="selected" title="Channel file stores stream routing result for 2.7 millions stream reaches (point-type NetCDF)">Channel</option>
            <option value="land" title="Land file stores land surface processing result (1km gridded NetCDF)">Land</option>
            <option value="reservoir" title="Reservoir file stores forecasts for 1260 reservoirs (point-type NetCDF)">Reservoir</option>
            <option value="forcing" title="Forcing file stores forcing variables (1km gridded NetCDF)">Forcing</option>
        </select>
    </div>

    <div class="form-group ">
        <label class="control-label" for="variable" data-toggle="tooltip"
               data-placement="top" title="Choose a Variable (the list varies depending on the Model Configuration and Model Output File you have selected)">Variable</label>
        <select id="variable" class="form-control" name="variable">
            <option id="streamVar" value="streamflow" selected>Streamflow</option>
            <option id="velocVar" value="velocity">Velocity</option>
            <option id="infVar" value="inflow" class="hidden">Inflow</option>
            <option id="outfVar" value="outflow" class="hidden">Outflow</option>
            <option id="snowhVar" value="SNOWH" class="hidden">Snow Depth</option>
            <option id="sneqVar" value="SNEQV" class="hidden">Snow Water Equivalent</option>
            <option id="snowcVar" value="FSNO" class="hidden">Snow-cover</option>
            <option id="etVar" value="ACCET" class="hidden">Accumulated Total ET</option>
            <option id="ssVar" value="SOILSAT_TOP" class="hidden">Near Surface Soil Saturation</option>
            <option id="avsnowVar" value="SNOWT_AVG" class="hidden">Average Snow Temperature</option>
            <option id="subrunoffVar" value="UGDRNOFF" class="hidden">Accumulated Groundwater Runoff</option>
            <option id="runoffVar" value="SFCRNOFF" class="hidden">Accumulated Surface Runoff</option>
            <option id="evapVar" value="ACCECAN" class="hidden">Accumulated Canopy Evaporation</option>
            <option id="soiltVar" value="SOIL_T" class="hidden">Soil Temperature</option>
            <option id="soilmVar" value="SOIL_M" class="hidden">Volumetric Soil Moisture</option>
            <option id="canwVar" value="CANWAT" class="hidden">Total Canopy Water</option>
            <option id="ssiVar" value="SOILSAT" class="hidden">Soil Saturation (Column integrated)</option>
            <option id="rainrateVar" value="RAINRATE" class="hidden">Rain Rate</option>
            <option id="lwdownVar" value="LWDOWN" class="hidden">Surface Downward Long-wave Radiation Flux</option>
            <option id="swdownVar" value="SWDOWN" class="hidden">Surface Downward Short-wave Radiation Flux</option>
            <option id="pfscVar" value="PSFC" class="hidden">Surface Pressure</option>
            <option id="q2dVar" value="Q2D" class="hidden">2-m Specific Humidity</option>
            <option id="t2dVar" value="T2D" class="hidden">2-m Air Temperature</option>
            <option id="u2dVar" value="U2D" class="hidden">10-m U-component of Wind</option>
            <option id="v2dVar" value="V2D" class="hidden">10-m V-component of Wind</option>

        </select>
    </div>

    <div id="comidDiv">
        <label class="control-label" for="comidInput" data-toggle="tooltip"
               data-placement="top" title="COMID is a unique and permanent identifier assigned to each stream reach and reservoir in the NHD+ system. You can either manually enter a COMID or select a stream reach or reservoir on map to fill this field">COMID</label>
        <input id="comidInput" name="COMID" type="text" class="form-control form-group" data-toggle="tooltip"
               data-placement="top" title="COMID is a unique and permanent identifier assigned to each stream reach and reservoir in the NHD+ system. You can either manually enter a COMID or select a stream reach or reservoir on map to fill this field" required>
    </div>

    <div id="gridDiv" class="hidden">
        <label class="control-label" for="gridInputY" data-toggle="tooltip"
               data-placement="top" title="This index is to locate a single grid cell in South-North direction. You can either enter a index or select a grid cell on map to fill this field">Grid Cell South-North
            Index</label>
        <input id="gridInputY" name="Y" type="text" class="form-control form-group"
               data-toggle="tooltip"
               data-placement="top" title="This index is to locate a single grid cell in West-East direction. You can either enter a index or select a grid cell on map to fill this field" disabled required>
        <label class="control-label" for="gridInputX" data-toggle="tooltip"
               data-placement="top" title="This index is to locate a single grid cell in West-East direction. You can either enter a index or select a grid cell on map to fill this field">Grid Cell West-East
            Index</label>
        <input id="gridInputX" name="X" type="text" class="form-control form-group"
               data-toggle="tooltip"
               data-placement="top" title="This index is to locate a single grid cell in West-East direction. You can either enter a index or select a grid cell on map to fill this field" disabled required>
    </div>

    <input id="longInput" name="lon" type="text" value="-98" class="hidden">
    <input id="latInput" name="lat" type="text" value="38.5" class="hidden">

    {% gizmo date_picker start_date %}

    <div class="form-group">
        <label class="control-label" for="time" data-toggle="tooltip"
               data-placement="top" title="NWM runs multiple times per day. 'Model Initialization Time' indicates a time point at which model starts to run.">Model Initialization Time
            (UTC)</label>
        <select id="time" class="form-control" name="time">
            <option value="00">00:00</option>
            <option value="01">01:00</option>
            <option value="02">02:00</option>
            <option value="03">03:00</option>
            <option value="04">04:00</option>
            <option value="05">05:00</option>
            <option value="06">06:00</option>
            <option value="07">07:00</option>
            <option value="08">08:00</option>
            <option value="09">09:00</option>
            <option value="10">10:00</option>
            <option value="11">11:00</option>
            <option value="12">12:00</option>
            <option value="13">13:00</option>
            <option value="14">14:00</option>
            <option value="15">15:00</option>
            <option value="16">16:00</option>
            <option value="17">17:00</option>
            <option value="18">18:00</option>
            <option value="19">19:00</option>
            <option value="20">20:00</option>
            <option value="21">21:00</option>
            <option value="22">22:00</option>
            <option value="23">23:00</option>
        </select>
    </div>

    <div id="timeLag" class="hidden">
        <label data-toggle="tooltip"
               data-placement="top" title="Long Range Forecast runs 4 cycles per day (every 6 hours). Each cycle produces a 4-member 30-day forecast.">Ensemble Model Initialization Time (UTC)</label>
        <div class="row">
            <div class="col-md-2">
                <p title="Cycle-1 runs at UTC time 00:00">00:00</p>
            </div>
            <div class="col-md-4">
                {% gizmo toggle_switch longRangeLag00 %}
            </div>
            <div class="col-md-2">
                <p title="Cycle-2 runs at UTC time 06:00">06:00</p>
            </div>
            <div class="col-md-4">
                {% gizmo toggle_switch longRangeLag06 %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <p title="Cycle-3 runs at UTC time 12:00">12:00</p>
            </div>
            <div class="col-md-4">
                {% gizmo toggle_switch longRangeLag12 %}
            </div>
            <div class="col-md-2">
                <p title="Cycle-4 runs at UTC time 18:00">18:00</p>
            </div>
            <div class="col-md-4">
                {% gizmo toggle_switch longRangeLag18 %}
            </div>
        </div>
    </div>

    <label id="endDateLabel" class="control-label hidden" for="endDate">End Date</label>
    {% gizmo date_picker end_date %}

    <button name="submit" type="submit" title="Retrieve and plot time series for this reach/reservoir/cell"
            class="btn btn-primary" data-toggle="tooltip"
               data-placement="top" type="submit" value="Success" id="submitBtn" form="paramForm">
        View Forecast
    </button>
</form>

<!--<input type="text" id="watershed_attributes_str" name="watershed_attributes_str" value='{{watershed_attributes_str}}' hidden >-->
<!--<input type="text" id="watershed_geojson_str" name="watershed_geojson_str" value='{{watershed_geojson_str}}' hidden >-->

{% endblock%}

{% block app_content %}
<div id="map-view" class="noGraph map-view"></div>
<!--<div id="mouse-position"></div>-->
<div id="popup" class="noGraph"></div>
<div id="info" class="hidden"></div>
<br/>
<div id="nc-chart" class="hidden"></div>
{% endblock %}

{% block app_actions %}
<div id="actionBtns" class="hidden">
    {% if waterml_url %}
    <a id="WMLbtn" target="_blank" href="{% url 'nwm_forecasts:waterml' %}{{waterml_url}}" class="btn btn-default">Get
        WaterML</a>
    <a id="HSbtn" class="btn btn-default hidden" data-toggle="modal" data-target="#hydroshare-modal" role="button">Add
        to HydroShare</a>
    {% endif %}
</div>
{% endblock %}