#inner-app-content {
    padding: 20px;
}

p {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

#submitBtn, #watershedBtn {
    width: 270px;
}

#subsetBtn, #watershedBtn {
    width: 270px;
}

.map-view {
    height: 400px;
    width: 100%;
}

.full-map-view {
    height: 100%;
    width: 100%;
}

.tooltip-inner {
    font-size: 11pt;
}

.row label {

}
.modal-body1 {
    display: flex;
    justify-content: center;
}
#tbl-watersheds {
    vertical-align: middle;
}
#tbl-watersheds tr {
    border: 2px solid black;
}
#tbl-watersheds td, #tbl-watersheds th {
    padding: 10px;
}

#byu-logo-container {
    float: left;
    position: absolute;
    bottom: 8px;
}
#byu-logo-container img {
    float: left;
    height: 50px;
    width: 50px;
}
#byu-logo-container span {
    position: relative;
    top: 25px;
    margin-left: 10px;
}

.error {
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 4%;
}
.uploading {
    background-color: yellow;
    color: darkblue;
    text-align: center;
}
.success {
    background-color: green;
    color: white;
    text-align: center;
    border-radius: 4%;
}