#app-content-wrapper #app-content #app-actions {
    display: none;
}

#inner-app-content {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0;
}

#app-content-wrapper {
    overflow: hidden;
}

#map-view {
    height: 50%;
    width: 100%;
}